body {
    background-color: black;
    color: #e7e7e7;
    font-family: "Song Myung", serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 3rem;
}

.container {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

button {
    background: none;
    box-sizing: border-box;
}

h3 {
    font-weight: 100;
}

.btn {
    margin-top: 1.5rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background-color: none; /* Green */
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #e7e7e7; /* Green */
    border: 2px solid black;
    color: black;
}

progress {
    background-color: blue;
}
progress::-webkit-progress-bar {
    padding: 1px;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
}
progress::-webkit-progress-value {
    background-color: #e7e7e7;
    border-radius: 4px;
}

.result-container {
    box-sizing: border-box;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 1px 1px 150px gray;
    margin-bottom: 1rem;
}

.result {
    font-weight: 200;
    text-shadow: 2px 3px 2px darkgoldenrod;
}
